extends layout

block content
  h1 Hej
  button#requestOne requestOne
  button#updateSelf updateSelf

  script(src='/socket.io/socket.io.js')
  script.
    var _id = '5804aa86795236fdc199b606';
    var socket = io.connect('http://localhost:3001/', {query: '_id=' + _id});
    socket.on('newConnection', function(data) {
      console.log(data);
    });
    socket.on('server', function(data) {
      console.log(data);
    });
    socket.on('updatedOne', (data) => {
      console.log('Updated one:', data);
    });
    socket.on('socketError', (error) => {
      console.log('Error:', error);
    });
    socket.on('updateRequest', (data) => {
      console.log('Received updateRequest from ' + data.src);
      socket.emit('updateSelf', {
        _id: _id,
        lat: 59.508594,
        long: 17.755809,
        dest: data.src,
      });
    });
    document.getElementById('requestOne').onclick = function() {
      socket.emit('any', {clicked: true});
      socket.emit('requestOne', {
        src: _id,
        dest: '58713ea6b7486c1e785db25e'
      });
    };
    document.getElementById('updateSelf').onclick = function() {
      socket.emit('any', {clicked: true});
      socket.emit('updateSelf', {
        _id,
        lat: 59.5068511,
        long: 17.7569173,
      });
    };
